<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Task manager</title>

</head>
<body>
    <div class="menu">
        <div class="auth-links">
            <a href="{% url 'login' %}">Sign In</a>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>