body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: #1e1e1e;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu .homebtn {
    color: #ffffff;
    margin-right: 20px;
}

.menu .auth-links {
    color: #ffffff;
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 20px;
    text-align: center;
}

.content a {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.content a:hover {
    background-color: #0056b3;
}

.content a.task {
    display: inline;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    transition: color 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s;
    border: none;
    outline: none;
}

button:hover {
    background-color: #0056b3;
}

form p {
    margin: 10px 0;
    font-size: 14px;
    color: #ffffff;
}

input[type="submit"] {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s;
    border: none;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

textarea,
input[type="text"], input[type="password"] {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 10px;
}

textarea {
    resize: none;
}

textarea:focus,
input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="date"] {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    margin-top: 10px;
}

input[type="date"]:focus {
    border-color: #0056b3;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


